{% extends 'base.html.twig' %}

{% block title %}Administration des Réservations{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des Réservations</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Auteur</th>
                    <th>Titre - Nom du Site</th>
                    <th>Début de mission</th>
                    <th>Fin de mission</th>
                    <th>Total heures</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{booking.id}}</td>
                    <td>{{booking.createdAt|date('d/m/Y H:i')}}</td>
                    <td><img src="{{booking.booker.picture}}" alt="avatar auteur" class="avatar avatar-mini mr-2"> {{booking.booker.firstName}} {{booking.booker.lastName}}</td>
                    <td>{{booking.ad.title}}</td>
                    <td>{{booking.startDate|date('d/m/Y')}}</td>
                    <td>{{booking.endDate|date('d/m/Y')}}</td>
                    <td>{{booking.amount}}</td>
                    <td>
                        <a href="{{ path('admin_booking_edit', {'id': booking.id}) }}" class="btn btn-primary"> <i class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_booking_delete', {'id': booking.id}) }}" class="btn btn-danger"> <i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
