<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MLV Xtra - {% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">

        {#<link rel="stylesheet" href="/css/bootstrap.min.css">#}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}"> 
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

      {% include '/shared/header.html.twig' %}

      {% block body %}{% endblock %}

      {% include '/shared/footer.html.twig' %}
      
      
 

      {#<script src="{{ asset('build/js/app.js') }}"></script>#}
  
     <script src="/js/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>






       {#<script src="/build/js/app.js"></script>
      <script src="/build/js/jquery.js"></script>
      <script src="{{ asset('/js/bootstrap.js') }}"></script>
      <script src="{{ asset('/js/jquery.js') }}"></script>
      <script src="{{ asset('/js/popper.js') }}"></script> #}
      

   

      {% block javascripts %}{% endblock %}
    </body>
</html>
