{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card bg-primary text-white mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-users fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{stats.users}} Utilisateurs</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-dark mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-handshake fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{stats.ads}} Offres</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-warning mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-folder fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{stats.bookings}} Réservations</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
            <div class="card text-white bg-success mb-3 text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <i class="fas fa-comments fa-3x"></i>
                            </div>
                            <div class="col-8">
                                <h4 class="card-title">{{stats.comments}} Aviss</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="alert alert-success">
                    <h2 class="alert-heading my-3"> <i class="fas fa-arrow-up"></i> Les Offres les mieux notés</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>L'Offre</th>
                                <th>L'auteur</th>
                                <th>Moyenne</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ad in bestAds %}
                            <tr>
                                <td>{{ad.title}}</td>
                                <td><img src="{{ad.picture}}" alt="" class="avatar avatar-mini"> {{ad.firstName}} {{ad.lastName}}</td>
                                <td class="text-center"> <span class="badge-dark">{{ad.note|number_format(1, ",", " ")}}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-danger">
                    <h2 class="alert-heading my-3"> <i class="fas fa-arrow-down"></i> Les Offres mal notés</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>L'Offre</th>
                                <th>L'auteur</th>
                                <th>Moyenne</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ad in worstAds %}
                            <tr>
                                <td>{{ad.title}}</td>
                                <td><img src="{{ad.picture}}" alt="" class="avatar avatar-mini"> {{ad.firstName}} {{ad.lastName}}</td>
                                <td class="text-center"> <span class="badge-dark">{{ad.note|number_format(1, ",", " ")}}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <hr>



        <div class="row">
           
                      
                    <div class="col-3">
                        <div class="alert alert-success">
                            <h2 class="alert-heading my-3"> <i class="fas fa-arrow-up"></i> Salarié le plus actif</h2>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Salarié</th>
                                        <th>Total heures travaillées</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for worker in bestWorker %}
                                    <tr>
                                        <td><img src="{{worker.picture}}" alt="" class="avatar avatar-mini"> {{worker.firstName}} {{worker.lastName}}</td>
                                        <td class="text-center"> <span class="badge-dark">{{worker.total}}</span></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="alert alert-danger">
                            <h2 class="alert-heading my-3"> <i class="fas fa-arrow-down"></i> Salarié le plus inactif</h2>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Salarié</th>
                                        <th>Total heures travaillées</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for worker in notBestWorker %}
                                    <tr>
                                        <td><img src="{{worker.picture}}" alt="" class="avatar avatar-mini"> {{worker.firstName}} {{worker.lastName}}</td>
                                        <td class="text-center"> <span class="badge-dark">{{worker.total}}</span></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div> 
                    </div>
            </div>
            <div class="col">

            </div>
        </div>



    </div>
{% endblock %}
