{% extends 'base.html.twig' %}

{% block title %} Toutes nos offres!{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
<h1> Voici toutes nos offres du moment! </h1>
<div class="row">
{% for ad in ads %}

    <div class="col-md-4">
            <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                    {{ad.daysPerMission}} jour(s), <strong>{{ad.hoursPerDay}} heures / jour</strong> <br>
                    <small> pas encore noté </small>
                    </div>
                    <img src="{{ad.coverImage}}" alt="image du magasin" style="height: 200px; width:100%; display:block;">
                    <div class="card-body">
                    <h4 class="card-title">
                    {{ad.title}}
                    </h4>
                    <p class="card-text">{{ad.introduction}}</p>
                    <a href="/ads/{{ad.slug}}" class="btn btn-secondary">Consulter l'offre!</a>
                    </div>
            </div>
    </div>

{% endfor %}
</div>
</div>
{% endblock %}
